<div class="w-screen">
  <form (ngSubmit)="handleSubmit()" class="mx-auto flex flex-col items-center">
    <h1 class="text-2xl text-orange-400 font-bold my-5">
      Add details of your employees
    </h1>
    <div
      *ngFor="let employee of employees; let i = index"
      style="margin-top: 20px"
    >
      <h3 class="text-orange-400">Employee {{ i + 1 }}</h3>
      <form (ngSubmit)="handleSubmit()" class="flex flex-wrap gap-2">
        <input
          type="text"
          name="name"
          placeholder="Name"
          [(ngModel)]="employee.name"
          [ngModelOptions]="{ standalone: true }"
          required
          class="rounded-[0.5rem] bg-richblack-800 p-[12px] text-slate-400"
        />
        <input
          type="email"
          name="email"
          placeholder="Email"
          [(ngModel)]="employee.email"
          [ngModelOptions]="{ standalone: true }"
          required
          class="rounded-[0.5rem] bg-richblack-800 p-[12px] text-slate-400"
        />
        <input
          type="text"
          name="designation"
          placeholder="Designation"
          [(ngModel)]="employee.designation"
          [ngModelOptions]="{ standalone: true }"
          required
          class="rounded-[0.5rem] bg-richblack-800 p-[12px] text-slate-400"
        />
        <input
          type="number"
          name="age"
          placeholder="Age"
          [(ngModel)]="employee.age"
          [ngModelOptions]="{ standalone: true }"
          required
          class="rounded-[0.5rem] bg-richblack-800 p-[12px] text-slate-400"
        />
      </form>
    </div>
    <div class="flex flex-wrap items-centers gap-x-2 justify-center mt-10">
      <!-- <h3 class="text-xl text-green-400 font-bold my-5">Add New Employee</h3> -->
      <label class="">
        <p class="mb-1 text-[0.875rem] leading-[1.375rem] text-slate-400">
          Name <sup class="text-pink-200">*</sup>
        </p>
        <input
          type="text"
          name="name"
          placeholder="Enter name"
          [(ngModel)]="newEmployee.name"
          [ngModelOptions]="{ standalone: true }"
          required
          class="rounded-[0.5rem] bg-richblack-800 p-[12px] text-slate-400"
        />
      </label>
      <label class="">
        <p class="mb-1 text-[0.875rem] leading-[1.375rem] text-slate-400">
          Email Address <sup class="text-pink-200">*</sup>
        </p>
        <input
          type="email"
          name="email"
          placeholder="Enter Email Address"
          [(ngModel)]="newEmployee.email"
          [ngModelOptions]="{ standalone: true }"
          required
          class="rounded-[0.5rem] bg-richblack-800 p-[12px] text-slate-400"
        />
      </label>
      <label class="">
        <p class="mb-1 text-[0.875rem] leading-[1.375rem] text-slate-400">
          Designation <sup class="text-pink-200">*</sup>
        </p>
        <input
          type="text"
          name="designation"
          placeholder="Enter Designation"
          [(ngModel)]="newEmployee.designation"
          [ngModelOptions]="{ standalone: true }"
          required
          class="rounded-[0.5rem] bg-richblack-800 p-[12px] text-slate-400"
        />
      </label>
      <label class="">
        <p class="mb-1 text-[0.875rem] leading-[1.375rem] text-slate-400">
          Age <sup class="text-pink-200">*</sup>
        </p>
        <input
          type="number"
          name="age"
          placeholder="Age"
          [(ngModel)]="newEmployee.age"
          [ngModelOptions]="{ standalone: true }"
          required
          class="rounded-[0.5rem] bg-richblack-800 p-[12px] text-slate-400"
        />
      </label>
      <button
        type="button"
        (click)="handleAddEmployee()"
        class="self-center mt-6 rounded-[8px] bg-yellow-300 py-[8px] px-[12px] font-medium text-richblack-900"
      >
        Add Employee
      </button>
    </div>
    <button
      type="submit"
      class="self-center mt-6 rounded-[8px] bg-yellow-300 py-[8px] px-8 font-medium text-richblack-900"
    >
      Submit Employees Data
    </button>
  </form>
</div>
