<div>
  <div class="w-1/2 mx-auto">
    <h1 class="text-2xl font-bold text-green-400 text-center">
      Welcome On-board
    </h1>
    <p class="text-lg text-center text-yellow-400">
      Fill in the details to complete onboarding
    </p>
    <form
      [formGroup]="onBoardingForm"
      (ngSubmit)="completeOnBoarding()"
      class="flex w-full flex-col gap-y-4"
    >
      <ng-container [ngSwitch]="currentStep" class="mt-10">
        <!-- Step 1: Personal Information -->
        <div *ngSwitchCase="1" class="w-1/2 mx-auto">
          <h2 class="text-2xl mt-10 text-orange-400">
            Enter username and Full name
          </h2>
          <label class="w-1/2">
            <p class="mb-1 text-[0.875rem] leading-[1.375rem] text-slate-400">
              Username <sup class="text-pink-200">*</sup>
            </p>
            <input
              formControlName="username"
              required
              type="text"
              placeholder="Enter username"
              class="w-full rounded-[0.5rem] bg-richblack-800 p-[12px] text-slate-400"
            />
            <div
              *ngIf="
                formControls.username.invalid && formControls.username.touched
              "
              class="text-red-500 text-sm mt-1"
            >
              Username is required.
            </div>
          </label>
          <div class="flex gap-x-4 justify-between">
            <label>
              <p class="mb-1 text-[0.875rem] leading-[1.375rem] text-slate-400">
                First Name <sup class="text-pink-200">*</sup>
              </p>
              <input
                formControlName="firstName"
                required
                type="text"
                placeholder="Enter first name"
                class="w-full rounded-[0.5rem] bg-richblack-800 p-[12px] text-slate-400"
              />
              <div
                *ngIf="
                  formControls.firstName.invalid &&
                  formControls.firstName.touched
                "
                class="text-red-500 text-sm mt-1"
              >
                First Name is required.
              </div>
            </label>
            <label>
              <p class="mb-1 text-[0.875rem] leading-[1.375rem] text-slate-400">
                Last Name <sup class="text-pink-200">*</sup>
              </p>
              <input
                formControlName="lastName"
                required
                type="text"
                placeholder="Enter last name"
                class="w-full rounded-[0.5rem] bg-richblack-800 p-[12px] text-slate-400"
              />
              <div
                *ngIf="
                  formControls.lastName.invalid && formControls.lastName.touched
                "
                class="text-red-500 text-sm mt-1"
              >
                Last Name is required.
              </div>
            </label>
          </div>
          <div class="flex justify-between mt-4">
            <button
              type="button"
              (click)="nextStep()"
              class="rounded-[8px] bg-yellow-300 py-[8px] px-[12px] font-medium text-richblack-900"
              [disabled]="!step1"
            >
              Next
            </button>
          </div>
        </div>

        <!-- Step 2: Contact Information -->
        <div *ngSwitchCase="2" class="w-1/2 mx-auto">
          <h2 class="text-2xl mt-10 text-orange-400">
            Enter contact Information
          </h2>
          <label>
            <p class="mb-1 text-[0.875rem] leading-[1.375rem] text-slate-400">
              Contact Number <sup class="text-pink-200">*</sup>
            </p>
            <input
              formControlName="contactNumber"
              required
              type="number"
              placeholder="Enter phone number"
              class="w-full rounded-[0.5rem] bg-richblack-800 p-[12px] text-slate-400"
            />
            <div
              *ngIf="
                formControls.contactNumber.invalid &&
                formControls.contactNumber.touched
              "
              class="text-red-500 text-sm mt-1"
            >
              <ng-container
                *ngIf="formControls.contactNumber.errors?.['required']"
              >
                Contact Number is required.
              </ng-container>
              <ng-container
                *ngIf="formControls.contactNumber.errors?.['pattern']"
              >
                Enter a valid contact number (10 digits).
              </ng-container>
            </div>
          </label>
          <label>
            <p class="mb-1 text-[0.875rem] leading-[1.375rem] text-slate-400">
              Address <sup class="text-pink-200">*</sup>
            </p>
            <textarea
              formControlName="address"
              required
              placeholder="Enter address"
              class="w-full rounded-[0.5rem] bg-richblack-800 p-[12px] text-slate-400"
            ></textarea>
            <div
              *ngIf="
                formControls.address.invalid && formControls.address.touched
              "
              class="text-red-500 text-sm mt-1"
            >
              Address is required.
            </div>
          </label>
          <div class="flex justify-between mt-4">
            <button
              type="button"
              (click)="prevStep()"
              class="rounded-[8px] bg-gray-300 py-[8px] px-[12px] font-medium text-richblack-900"
            >
              Previous
            </button>
            <button
              type="button"
              (click)="nextStep()"
              class="rounded-[8px] bg-yellow-300 py-[8px] px-[12px] font-medium text-richblack-900"
              [disabled]="!step2"
            >
              Next
            </button>
          </div>
        </div>

        <!-- Step 3: Bio and Completion -->
        <div *ngSwitchCase="3" class="w-1/2 mx-auto">
          <h2 class="text-2xl mt-10 text-orange-400">
            Tell us something about yourself
          </h2>
          <label>
            <p class="mb-1 text-[0.875rem] leading-[1.375rem] text-slate-400">
              Bio <sup class="text-pink-200">*</sup>
            </p>
            <textarea
              formControlName="bio"
              required
              placeholder="Tell us something about yourself"
              class="w-full rounded-[0.5rem] bg-richblack-800 p-[12px] text-slate-400"
            ></textarea>
            <div
              *ngIf="formControls.bio.invalid && formControls.bio.touched"
              class="text-red-500 text-sm mt-1"
            >
              Bio is required.
            </div>
          </label>
          <div class="flex justify-between mt-4">
            <button
              type="button"
              (click)="prevStep()"
              class="rounded-[8px] bg-gray-300 py-[8px] px-[12px] font-medium text-richblack-900"
            >
              Previous
            </button>
            <button
              type="submit"
              [disabled]="!step3"
              class="rounded-[8px] bg-yellow-300 py-[8px] px-[12px] font-medium text-richblack-900"
            >
              Complete Onboarding
            </button>
          </div>
        </div>
      </ng-container>
    </form>
  </div>
</div>
